.right-content{
  a{
    @extend .btn;
    @extend .btn-success;
    @extend .ml-3;
    float: right;
  }
}
.content{
  form{
    @extend .m-auto;
    @extend .card;
    @extend .bg-light;
    padding: 3em 3em 0 3em;
    .form-inputs{
      @extend .text-center;
      label{
        display: block;
      }
    }
    .form-actions{
      @extend .text-center;
      @extend .mb-4;
      input{
        @extend .btn;
        @extend .btn-success;
      }
    }
  }
}
.content{
  table{
    @extend .table;
    @extend .table-bordered;
  }
}
.badge-enqueued{
  @extend .badge-info;
}
.badge-processing{
  @extend .badge-warning;
}
.badge-completed{
  @extend .badge-success;
}
.social-medias{
  a{
    text-decoration: none;
    font-size: large;
    @extend .text-white;
    @extend .ml-1;
    @extend .mr-2;
    :hover{
      color: black;
    }
  }
}